<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DI_UT1_Ejemplo24_MySQL_ContextMenu_Settings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DI_UT1_Ejemplo24_MySQL_ContextMenu_Settings.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>sql11.freesqldatabase.com</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>sql11651753</value>
            </setting>
        </DI_UT1_Ejemplo24_MySQL_ContextMenu_Settings.Properties.Settings>
    </userSettings>
</configuration>